{
   "type": "message",
   "attachments": [
      {
         "contentType": "application/vnd.microsoft.card.adaptive",
         "contentUrl": null,
         "content": {
            "type": "AdaptiveCard",
            "body": [
               {
                  "type": "TextBlock",
                  "size": "medium",
                  "weight": "bolder",
                  "text": '{{ sdteams_title }}'
               },
               {
                  "type": "ColumnSet",
                  "columns": [
                     {
                        "type": "Column",
                        "items": [
                           {
                              "type": "Image",
                              "url": "{{ sdteams_notify_image }}",
                              "width": "{{ sdteams_status_image.image_width }}",
                              "height": "{{ sdteams_status_image.image_height }}"
                           }
                        ],
                        "width": "auto"
                     },
                     {
                        "type": "Column",
                        "items": [
                           {
                              "type": "TextBlock",
                              "weight": "Bolder",
                              "text": '{{ sdteams_message }}',
                              "wrap": true,
                              "spacing": "None",
                           },
                           {
                              "type": "TextBlock",
                              "spacing": "None",
                              "text": '{{ sdteams_date }}',
                              "wrap": true
                           }
                        ],
                        "width": "stretch"
                     }
                  ]
               },
               {
                  "type": "TextBlock",
                  "text": '{{ sdteams_details }}',
                  "wrap": true,
                  "spacing": "None",
               }
            ],
            "actions": [
               {
                  "type": "Action.OpenUrl",
                  "title": '{{ sdteams_button_text }}',
                  "url": "{{ sdteams_button_url }}"
               }{% if sdteams_2nd_button_text is defined and sdteams_2nd_button_url is defined %},
               {
                  "type": "Action.OpenUrl",
                  "title": '{{ sdteams_2nd_button_text }}',
                  "url": "{{ sdteams_2nd_button_url }}"
               }{% endif %}
            ],
            "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
            "version": "1.6"
         }
      }
   ]
}
